In [605]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-08-03/athletes.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19547 entries, 0 to 19546
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gender   19403 non-null  object
 1   event    19547 non-null  object
 2   medal    19547 non-null  object
 3   athlete  19112 non-null  object
 4   abb      19498 non-null  object
 5   country  5119 non-null   object
 6   grp_id   5119 non-null   float64
 7   type     19547 non-null  object
 8   year     19547 non-null  int64
 9   guide    53 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.5+ MB

In [606]:
df.nunique()

gender        3
event      1670
medal         3
athlete    6779
abb         117
country     137
grp_id       24
type         11
year         10
guide        42
dtype: int64

In [607]:
df.isnull().sum()

gender       144
event          0
medal          0
athlete      435
abb           49
country    14428
grp_id     14428
type           0
year           0
guide      19494
dtype: int64

In [608]:
df[(df['abb'].isnull()) & (df['country'].notnull())]

,gender,event,medal,athlete,abb,country,grp_id,type,year,guide
45,Men,Double FITA Round Team Amputee,Bronze,NaN,NaN,-,1.0,Archery,1980,NaN
109,Men,Double Advanced Metric Round Team 1A-6,Silver,NaN,NaN,-,1.0,Archery,1984,NaN
110,Men,Double Advanced Metric Round Team 1A-6,Bronze,NaN,NaN,-,1.0,Archery,1984,NaN
9795,Mixed,Wheelchair Rugby,Gold,NaN,NaN,-,1.0,Rugby,1996,NaN
9796,Mixed,Wheelchair Rugby,Silver,NaN,NaN,-,1.0,Rugby,1996,NaN
9797,Mixed,Wheelchair Rugby,Bronze,NaN,NaN,-,1.0,Rugby,1996,NaN
10454,Men,4x100 m Freestyle Relay C-D,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
10459,Men,4x100 m Medley Relay C,Silver,NaN,NaN,-,1.0,Swimming,1980,NaN
10460,Men,4x100 m Medley Relay C,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
10462,Men,4x100 m Medley Relay D,Silver,NaN,NaN,-,1.0,Swimming,1980,NaN
10463,Men,4x100 m Medley Relay D,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
10477,Women,4x50 m Individual Medley C,Silver,NaN,NaN,-,1.0,Swimming,1980,NaN
10478,Women,4x50 m Individual Medley C,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
10493,Women,4x50 m Individual Medley 6,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
10495,Women,4x100 m Individual Medley A,Silver,NaN,NaN,-,1.0,Swimming,1980,NaN
10496,Women,4x100 m Individual Medley A,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
10502,Women,4x50 m Freestyle Relay 2-6,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
10507,Women,4x100 m Freestyle Relay C-D,Silver,NaN,NaN,-,1.0,Swimming,1980,NaN
10508,Women,4x100 m Freestyle Relay C-D,Bronze,NaN,NaN,-,2.0,Swimming,1980,NaN
10511,Women,4x100 m Medley Relay A-B,Bronze,NaN,NaN,-,1.0,Swimming,1980,NaN
11428,Men,4x50 m Freestyle Relay A1-A9,Bronze,NaN,NaN,-,1.0,Swimming,1984,NaN
11448,Men,4x50 m Medley Relay A1-A9,Silver,NaN,NaN,-,1.0,Swimming,1984,NaN
11449,Men,4x50 m Medley Relay A1-A9,Bronze,NaN,NaN,-,1.0,Swimming,1984,NaN
11479,Women,4x50 m Individual Medley 6,Bronze,NaN,NaN,-,1.0,Swimming,1984,NaN
11488,Women,4x50 m Freestyle Relay 2-6,Bronze,NaN,NaN,-,1.0,Swimming,1984,NaN
16328,Women,Teams 1B,Bronze,NaN,NaN,-,1.0,Table Tennis,1980,NaN
16449,Men,Teams CP2-4,Bronze,NaN,NaN,-,1.0,Table Tennis,1984,NaN
16458,Men,Teams L1,Bronze,NaN,NaN,-,1.0,Table Tennis,1984,NaN
16473,Men,Teams L5,Bronze,NaN,NaN,-,1.0,Table Tennis,1984,NaN
16484,Women,Teams 1A-C,Bronze,NaN,NaN,-,1.0,Table Tennis,1984,NaN
17177,Women,Teams 1-3,Silver,NaN,NaN,-,1.0,Table Tennis,2004,NaN
17178,Women,Teams 1-3,Bronze,NaN,NaN,-,1.0,Table Tennis,2004,NaN
17700,Women,Teams 1B,Bronze,NaN,NaN,-,1.0,Wheelchair Tennis,1980,NaN
17820,Men,Teams CP2-4,Bronze,NaN,NaN,-,1.0,Wheelchair Tennis,1984,NaN
17828,Men,Teams L1,Bronze,NaN,NaN,-,1.0,Wheelchair Tennis,1984,NaN
17843,Men,Teams L5,Bronze,NaN,NaN,-,1.0,Wheelchair Tennis,1984,NaN
17854,Women,Teams 1A-C,Bronze,NaN,NaN,-,1.0,Wheelchair Tennis,1984,NaN
18547,Women,Teams 1-3,Silver,NaN,NaN,-,1.0,Wheelchair Tennis,2004,NaN
18548,Women,Teams 1-3,Bronze,NaN,NaN,-,1.0,Wheelchair Tennis,2004,NaN

In [ ]:
# remove rows with empty abb values, remove rows for Basketball event because its mostly team based and contribute to missing value in gender
df = df[df['abb'].notnull()]
df = df[df['type'] != 'Basketball']

# there were '-' value in abb column which doesnt represent the abbreviation for country
df = df[df['abb'] != '-']

# remove rows with mixed gender type, so we only focus on men and women
df = df[df['gender'] != 'Mixed']

# drop columns that wont be needed for constructing the visualisation
df = df.drop(['athlete', 'grp_id', 'guide', 'country'], axis=1)

# previous step results in duplcated rows when athlete is removed, because for group event competition, the remaining column values are the same because these athletes were in the same team, so I only want to count one medal per group for group event
df = df.drop_duplicates()

In [610]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15833 entries, 0 to 19535
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  15833 non-null  object
 1   event   15833 non-null  object
 2   medal   15833 non-null  object
 3   abb     15833 non-null  object
 4   type    15833 non-null  object
 5   year    15833 non-null  int64
dtypes: int64(1), object(5)
memory usage: 865.9+ KB

In [611]:
df.isnull().sum()

gender    0
event     0
medal     0
abb       0
type      0
year      0
dtype: int64

In [612]:
df['abb'].unique()

array(['DEN', 'FRG', 'JPN', 'BEL', 'GBR', 'CAN', 'NOR', 'FRA', 'MEX',
       'NED', 'FIN', 'SWE', 'USA', 'AUS', 'KOR', 'AUT', 'POL', 'NZL',
       'ESP', 'SUI', 'ITA', 'GER', 'EUN', 'CZE', 'UKR', 'SVK', 'CHN',
       'THA', 'TPE', 'MGL', 'TUR', 'MAS', 'RUS', 'IRI', 'GRE', 'ISR',
       'LUX', 'HKG', 'KUW', 'EGY', 'YUG', 'SUD', 'JAM', 'IRL', 'KEN',
       'BAH', 'ARG', 'ZIM', 'POR', 'BRA', 'BRN', 'ISL', 'BIR', 'HUN',
       'GDR', 'IND', 'JOR', 'TTO', 'URS', 'TUN', 'INA', 'BUL', 'PUR',
       'NGR', 'CUB', 'RSA', 'PAN', 'TCH', 'SLO', 'IRQ', 'VEN', 'LTU',
       'EST', 'IPP', 'CRO', 'ALG', 'URU', 'DOM', 'CIV', 'MDA', 'BLR',
       'UAE', 'LAT', 'PLE', 'ANG', 'RWA', 'MAR', 'AZE', 'SCG', 'BOT',
       'PNG', 'CYP', 'COL', 'KSA', 'PAK', 'NAM', 'SRB', 'SRI', 'ETH',
       'CHI', 'FIJ', 'CPV', 'UGA', 'UZB', 'QAT', 'VIE', 'MOZ', 'LBA',
       'PHI', 'LAO', 'SYR', 'KAZ', 'FRO', 'PER', 'SGP', 'BIH'],
      dtype=object)

In [613]:
european_countries = ['DEN',
    'FRG',
    'GBR',
    'NOR',
    'FRA',
    'NED',
    'FIN',
    'SWE',
    'AUT',
    'ESP',
    'SUI',
    'ITA',
    'GER',
    'EUN',
    'CZE',
    'UKR',
    'SVK',
    'GRE',
    'LUX',
    'HUN',
    'GDR',
    'IRL',
    'POR',
    'BUL',
    'ISL',
    'EST',
    'LTU',
    'CRO',
    'SLO',
    'SCG',
    'SRB',
    'BIH',
    'MDA',
    'BLR',
    'LAT',
    'CYP',
    'BEL',
    'POL',
    'FRO']

In [614]:
country_mapping = {
    'DEN': 'Denmark',
    'FRG': 'West Germany',
    'GBR': 'Great Britain',
    'NOR': 'Norway',
    'FRA': 'France',
    'NED': 'Netherlands',
    'FIN': 'Finland',
    'SWE': 'Sweden',
    'AUT': 'Austria',
    'ESP': 'Spain',
    'SUI': 'Switzerland',
    'ITA': 'Italy',
    'GER': 'Germany',
    'EUN': 'Unified Team',
    'CZE': 'Czech Republic',
    'UKR': 'Ukraine',
    'SVK': 'Slovakia',
    'GRE': 'Greece',
    'LUX': 'Luxembourg',
    'HUN': 'Hungary',
    'GDR': 'East Germany',
    'IRL': 'Ireland',
    'POR': 'Portugal',
    'BUL': 'Bulgaria',
    'ISL': 'Iceland',
    'EST': 'Estonia',
    'LTU': 'Lithuania',
    'CRO': 'Croatia',
    'SLO': 'Slovenia',
    'SCG': 'Serbia and Montenegro',
    'SRB': 'Serbia',
    'BIH': 'Bosnia and Herzegovina',
    'MDA': 'Moldova',
    'BLR': 'Belarus',
    'LAT': 'Latvia',
    'CYP': 'Cyprus',
    'BEL': 'Belgium',
    'POL': 'Poland',
    'FRO': 'Faroe Islands'
}

In [ ]:
# focus on the distribution among European countries
df = df[df['abb'].isin(european_countries)]

# create a new column for full country names based on abb column
df['country_name'] = df['abb'].map(country_mapping)

In [ ]:
# Store the updated DataFrame to a new CSV file
df.to_csv('./athletes_modified.csv', index=False)

In [617]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8453 entries, 0 to 19487
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gender        8453 non-null   object
 1   event         8453 non-null   object
 2   medal         8453 non-null   object
 3   abb           8453 non-null   object
 4   type          8453 non-null   object
 5   year          8453 non-null   int64
 6   country_name  8453 non-null   object
dtypes: int64(1), object(6)
memory usage: 528.3+ KB